<div class="main_container">

  <div class="search_container">
    <div class="field">
      <p class="control has-icons-left">
        <input #filterInput class="input" type="text" (keyup)="filter($event.target.value)" placeholder="Search...">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes_list" [@listAnim]>
    <note-card *ngFor="let note of filteredNotes" [@itemAnim] (delete)="onDelete(note)" [link]="genereateNoteURL(note)"
      [title]="note.title" [body]="note.body">
    </note-card>
  </div>

  <button class="button floating_add_button is-primary" routerLink="new">+ Add</button>

</div>